<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
  <h1>Learn filmmaking from the pros</h1>
  <br />
  <h2>I'm a filmmaker, Ja.</h2>
  <br />
  <%= link_to 'Learn More', courses_path, class: 'btn btn-success custom-btn' %>
  <br /><br />
</div>
</div>
<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Amazing Courses</h3>
    <br />
    <p>Choose from any of our filmmaker courses to learn from the industry's best.</p>
  </div>

    <div class="col-12 col-sm">
      <h3>Learn At Your Own Pace</h3>
      <br />
      <p>Enroll and access all lessons at any time.</p>
    </div>

      <div class="col-12 col-sm">
        <h3>Collaborate</h3>
        <br />
        <p>Learn with a community of fellow filmmakers.</p>
      </div>
    </div>
